i {
  font-size: 2.5rem;
  text-align: start;
}
span {
  font-family: 'Solway', serif;
  font-size: 1.5rem;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background: #303030;
  color: #ffffff;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.nav-list {
  background: #262626;
}

.nav-list mat-nav-list, a {
  /*color: #ffffff;*/
}

mat-sidenav {
  padding: 2rem;
}

mat-chip {
  padding: 1.5rem 0.5rem;
  margin: 10px !important;
}

span:focus {
  outline: none;
}
