<div class="example-container">
  <mat-toolbar color="accent" class="example-toolbar">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <i class="material-icons">
        account_circle
      </i>
      <span> Contacts </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'side'" class="nav-list" opened>
      <div style="width: 92%">
        <mat-nav-list>
          <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
            <mat-chip selected fxLayout="row" fxLayoutGap="5px" color="accent">
              <i class="material-icons">
                select_all
              </i>
              <span routerLink="/popular">Selected</span>
            </mat-chip>
          </mat-chip-list>
          <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
            <mat-chip selected fxLayout="row" fxLayoutGap="5px" color="accent">
              <i class="material-icons">
                account_circle
              </i>
              <span routerLink="/contacts">Contacts</span>
            </mat-chip>
          </mat-chip-list>
          <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
            <mat-chip selected fxLayout="row" fxLayoutGap="5px" color="accent">
              <i class="material-icons">
                favorite
              </i>
              <span routerLink="/favourite">Favourite</span>
            </mat-chip>
          </mat-chip-list>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
