<h1 mat-dialog-title>Add Contact</h1>
  <form class="form" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput type="text" #contactName placeholder="Contact Name" [formControl]="nameControl" required>
      <mat-error *ngIf="nameControl.invalid">{{getErrorMessageName()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" #contactNumber placeholder="Contact Number"
             [formControl]="numberControl" required>
      <mat-error *ngIf="nameControl.invalid">{{getErrorMessageNumber()}}</mat-error>
    </mat-form-field>
    <mat-slide-toggle #contactPopular>Popular</mat-slide-toggle>
    <mat-checkbox #contactFavourite color="primary">Favourite</mat-checkbox>

    <button mat-raised-button color="primary"
            (click)="dialogRef.close({
    name: contactName.value,
    number: contactNumber.value,
    popular: contactPopular.checked,
    favourite: contactFavourite.checked
  })">Save
    </button>
    <button mat-raised-button (click)="dialogRef.close()" color="accent">Cancel</button>
  </form>



<!--<mat-form-field>-->
<!--  <input matInput type="name" #contactName placeholder="Contact Name">-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
<!--  <input matInput type="number" name="phone" max="10" #contactNumber placeholder="Contact Number">-->
<!--</mat-form-field>-->
<!--<mat-slide-toggle #contactPopular>Popular</mat-slide-toggle>-->

<!--<button mat-raised-button color="primary"-->
<!--        (click)="dialogRef.close({-->
<!--    name: contactName.value,-->
<!--    number: contactNumber.value,-->
<!--    popular: contactPopular.checked-->
<!--  })">Save-->
<!--</button>-->
<!--<button mat-raised-button (click)="dialogRef.close()" color="accent">Cancel</button>-->
